              <img class="headshot" src="/images/vlt-unwound.jpg" alt="Vera Tobin">
              <addr>
                Department of Cognitive Science<br/>
                Case Western Reserve University<br />
                617G Crawford Hall<br />
                <br />
                <a href="mailto:vera.tobin%40case.edu"><span class="fa fa-envelope fa-fw"></span>vera.tobin at case.edu</a><br />
                <a href="http://twitter.com/vrtbn"><span class="fab fa-twitter fa-fw"></span>vrtbn at twitter</a><br />
                <a href="https://case.academia.edu/VeraTobin"><span class="fa fa-graduation-cap fa-fw"></span>at academia.edu</a>
              </addr>

